<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Template for HTML email with inline image</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>Dear <span th:text="${user.userName}"></span><br />
        <br />
        your account has been created.<br />
        To confirm your registration, please call the following link:</p>
        <a th:href="${registerlink}">REGISTERLINK</a><br />
        <p>
            Sincerely, <br />
            <em>Your OSIAM Team</em>
        </p>
    </body>
</html>