# ignore target-folder everywhere
**target/
*.fdt
*.fdx
*.fnm
*.frq
*.nrm
*.prx
*.tii
*.tis
*.cfs
*segments_*
*segments.gen
*write.lock
**.settings/
**.project
**.classpath
.*
.**
.gitmodules
**bin/
**.ipr
**.ips
**.iws
**.iml
**.jar
**.war
**.ear
**.zip
**test-output/
**.log
**.*~
**.pyc
**.bak
build/
dist/
**egg-info/
*.aux
*.idx
*.toc
*.ist
*.ac[nr]
*.alg
*.bbl
*.blg
*.dvi
*.gl[gos]
*.ilg
*.ind
*.lo[fgt]
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.pdf
nosetests.xml
osiam.wiki/
