<div class="container passwordBody" ng-app="password" ng-controller="changeController">
    <link href='$BOOTSTRAP' rel="stylesheet">
    <script src='$ANGULAR'></script>
    <script src='$JQUERY'></script>
    <script>
        var app = angular.module('password', []);
        app.controller('changeController', function($scope, $http){

            $scope.password_validate = '';
            $scope.password = '';

            $scope.id = '$USERID';
            $scope.otp = '$OTP';

            $scope.submitPWChange = function() {
                $http({method: 'POST', url: '$CHANGELINK',
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                    // using jQuery to url encode the data, angular does not provide this functionality
                    data: $.param({oneTimePassword:$scope.otp, userId:$scope.id, newPassword:$scope.password})
                }).
                        success(function(data, status, headers, config) {
                            $scope.status = status;
                            $scope.data = data;
                        }).
                        error(function(data, status, headers, config) {
                            $scope.status = status;
                            $scope.data = data;
                        });
            };
        });
        app.directive('match', function($parse) {
            return {
                require: 'ngModel',
                link: function(scope, elem, attrs, ctrl) {
                    scope.$watch(function() {
                        //$parse(attrs.match) defines a method. the parameter 'scope' will be searched for the 'attrs.match' value
                        return $parse(attrs.match)(scope) === ctrl.$modelValue;
                    }, function(currentValue) {
                        ctrl.$setValidity('mismatch', currentValue);
                    });
                }
            }
        });
    </script>
    <form name="form" class="passwordForm" novalidate>
        <h2 class="passwordHeading">Forgot password</h2>
        <input class="form-control passwordInput" type="password" placeholder="Password* (at least 8 Characters)" ng-model="password" ng-minlength=8 required autofocus>
        <input class="form-control passwordInput" type="password" placeholder="Repeat password*" ng-model="password_validate" match="password" required>
        <button class="btn btn-primary btn-block passwordButton" ng-click='submitPWChange()' ng-disabled="form.$invalid" >Submit</button>
    </form>
    <style type="text/css">
        .passwordBody {
            padding-top: 40px;
            padding-bottom: 40px;
            width: 600px;
            background-color: #eee;
        }
        .passwordHeading {
            padding-bottom: 20px;
        }
        .passwordForm {
            max-width: 400px;
            padding: 15px;
            margin: 0 auto;
            background-color: #ffffff;
        }
        .passwordButton {
            margin-top: 20px;
            padding: 15px;
        }
        .passwordInput {
            margin-top: 1px;
            padding: 20px;
        }
        .passwordInput.ng-invalid.ng-dirty {
            border-color: #FA787E;
        }
        .passwordInput.ng-valid.ng-dirty {
            border-color: #78FA89;
        }
    </style>
</div>