<div class="container emailBody" ng-app="email" ng-controller="changeController">
    <link href='$BOOTSTRAP' rel="stylesheet">
    <script src='$ANGULAR'></script>
    <script src='$JQUERY'></script>
    <script>
        var app = angular.module('email', []);
        app.controller('changeController', function($scope, $http){

            $scope.email_validate = '';
            $scope.email = '';

            $scope.submitEmailChange = function() {
                $http({method: 'POST', url: '$CHANGELINK',
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                    // using jQuery to url encode the data, angular does not provide this functionality
                    data: $.param({newEmailValue: $scope.email})
                }).
                        success(function(data, status, headers, config) {
                            $scope.status = status;
                            $scope.data = data;
                        }).
                        error(function(data, status, headers, config) {
                            $scope.status = status;
                            $scope.data = data;
                        });
            };
        });
        app.directive('match', function($parse) {
            return {
                require: 'ngModel',
                link: function(scope, elem, attrs, ctrl) {
                    scope.$watch(function() {
                        //$parse(attrs.match) defines a method. the parameter 'scope' will be searched for the 'attrs.match' value
                        return $parse(attrs.match)(scope) === ctrl.$modelValue;
                    }, function(currentValue) {
                        ctrl.$setValidity('mismatch', currentValue);
                    });
                }
            }
        });
    </script>
    <form name="form" class="emailForm" novalidate>
        <h2 class="emailHeading">Change E-Mail Address</h2>
        <input class="form-control emailInput" type="email" placeholder="E-Mail address*" ng-model="email" required autofocus/>
        <input class="form-control emailInput" type="email" placeholder="Repeat E-Mail address*" ng-model="email_validate" match="email" required/>
        <button class="btn btn-primary btn-block emailButton" ng-click='submitEmailChange()' ng-disabled="form.$invalid" >Submit</button>
    </form>
    <style type="text/css">
        .emailBody {
            padding-top: 40px;
            padding-bottom: 40px;
            width: 600px;
            background-color: #eee;
        }
        .emailHeading {
            padding-bottom: 20px;
        }
        .emailForm {
            max-width: 400px;
            padding: 15px;
            margin: 0 auto;
            background-color: #ffffff;
        }
        .emailButton {
            margin-top: 20px;
            padding: 15px;
        }
        .emailInput {
            margin-top: 1px;
            padding: 20px;
        }
        .emailInput.ng-invalid.ng-dirty {
            border-color: #FA787E;
        }
        .emailInput.ng-valid.ng-dirty {
            border-color: #78FA89;
        }
    </style>
</div>