<div ng-app="password" ng-controller="changeController">
    <script src="http://code.angularjs.org/1.2.0-rc.3/angular.min.js"></script>
    <script>
        var app = angular.module('password', []);
        app.controller('changeController', function($scope, $http){

            $scope.password_validate = '';
            $scope.password = '';

            $scope.userId = '$USERID';
            $scope.otp = '$OTP';

            $scope.submitPWChange = function() {
                $http({method: 'POST', url: '$CHANGELINK',
                    data: $scope.registration, headers: {'Authorization':'Bearer TOKEN'},
                    params: {'oneTimePassword':$scope.otp, 'userId':$scope.userId, 'newPassword':$scope.password}}).

                        success(function(data, status, headers, config) {
                            $scope.status = status;
                            $scope.data = data;
                        }).
                        error(function(data, status, headers, config) {
                            $scope.status = status;
                            $scope.data = data;
                        });
            };
        });
        app.directive('match', function($parse) {
            return {
                require: 'ngModel',
                link: function(scope, elem, attrs, ctrl) {
                    scope.$watch(function() {
                        //$parse(attrs.match) defines a method. the parameter 'scope' will be searched for the 'attrs.match' value
                        return $parse(attrs.match)(scope) === ctrl.$modelValue;
                    }, function(currentValue) {
                        ctrl.$setValidity('mismatch', currentValue);
                    });
                }
            }
        });
    </script>
    <h1>Password Vergessen</h1>
    <hr>
    <form name="form" class="css-form" novalidate>
        <table>
            <tr>
                <td>
                    <label>Passwort* (min. 8 Zeichen)</label>
                </td>
                <td>
                    <input type="password" name="pw" ng-model="password" ng-minlength=8 required>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Passwort wiederholen*</label>
                </td>
                <td>
                    <input type="password" name="pw2" ng-model="password_validate" match="password" required>
                </td>
            </tr>
            <tr>
                <td/>
                <td>
                    <button name="absendenBtn" ng-click='submitPWChange()' ng-disabled="form.$invalid" >Absenden</button>
                </td>
            </tr>
        </table>
        <hr>
    </form>
    <style type="text/css">
        .css-form input.ng-invalid.ng-dirty {
            background-color: #FA787E;
        }

        .css-form input.ng-valid.ng-dirty {
            background-color: #78FA89;
        }
        input {
            margin-left: 30%;
        }
        button {
            margin-left: 30%;
        }
    </style>
</div>