<div class="container registrationBody" ng-app="registration" ng-controller="regController">
    <link href='$BOOTSTRAP' rel="stylesheet">
    <script src='$ANGULAR'></script>
    <script>
        var app = angular.module('registration', []);
        app.controller('regController', function($scope, $http){

            $scope.registration = {
                emails : {'primary':'true','value':''}
            };

            $scope.email_validate = '';
            $scope.password_validate = '';

            $scope.submitRegistration = function() {
                $http({method: 'POST', url: '$REGISTERLINK', headers: {'Content-Type': 'application/json'},
                    data: $scope.registration
                }).
                success(function(data, status, headers, config) {
                    $scope.status = status;
                    $scope.data = data;
                }).
                error(function(data, status, headers, config) {
                    $scope.status = status;
                    $scope.data = data;
                });
            };
        });
        app.directive('match', function($parse) {
            return {
                require: 'ngModel',
                link: function(scope, elem, attrs, ctrl) {
                    scope.$watch(function() {
                        //$parse(attrs.match) defines a method. the parameter 'scope' will be searched for the 'attrs.match' value
                        return $parse(attrs.match)(scope) === ctrl.$modelValue;
                    }, function(currentValue) {
                        ctrl.$setValidity('mismatch', currentValue);
                    });
                }
            }
        });
    </script>
    <form name="form" class="registrationForm" novalidate>
        <h2 class="registrationHeading">Registration</h2>
        <input class="form-control registrationInput" type="text" placeholder="User name* (at least 3 Characters)" ng-model="registration.userName" ng-minlength=3 required autofocus/>
        <input class="form-control registrationInput" type="email" placeholder="E-Mail address*" ng-model="registration.emails.value" required/>
        <input class="form-control registrationInput" type="email" placeholder="Repeat E-Mail address*" ng-model="email_validate" match="registration.emails.value" required/>
        <input class="form-control registrationInput" type="text" placeholder="Salutation" ng-model="registration.name.honorificPrefix">
        <input class="form-control registrationInput" type="text" placeholder="First name" ng-model="registration.name.givenName">
        <input class="form-control registrationInput" type="text" placeholder="Last name" ng-model="registration.name.familyName">
        <input class="form-control registrationInput" type="password" placeholder="Password* (at least 8 Characters)" ng-model="registration.password" ng-minlength=8 required>
        <input class="form-control registrationInput" type="password" placeholder="Repeat password*" ng-model="password_validate" match="registration.password" required>
        <button class="btn btn-primary btn-block registrationButton" ng-click='submitRegistration()' ng-disabled="form.$invalid" >Save</button>
    </form>
    <style type="text/css">
        .registrationBody {
            padding-top: 40px;
            padding-bottom: 40px;
            width: 600px;
            background-color: #eee;
        }
        .registrationHeading {
            padding-bottom: 20px;
        }
        .registrationForm {
            max-width: 400px;
            padding: 15px;
            margin: 0 auto;
            background-color: #ffffff;
        }
        .registrationButton {
            margin-top: 20px;
            padding: 15px;
        }
        .registrationInput {
            margin-top: 1px;
            padding: 20px;
        }
        .registrationInput.ng-invalid.ng-dirty {
            border-color: #FA787E;
        }
        .registrationInput.ng-valid.ng-dirty {
            border-color: #78FA89;
        }
    </style>
</div>