<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    	<div id="mail-subject" th:remove="tag">Ihre E-Mail-Adresse wurde erfolgreich geändert</div>
   		
   		<div id="mail-body">
        	<p>Sehr geehrte(r) <div th:replace="userinfos-de :: #greeting"></div>,<br />
        	<br />
        	Ihre Email-Adresse wurde erfolgreich geändert.</p>
        	<p>
            	Mit freundlichen Grüßen
       		</p>
       	</div>
    </body>
</html>