<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div id="mail-subject" th:remove="tag">Change of your password</div>
    	
   		<div id="mail-body">
        	<p>Dear <div th:replace="userinfos-en :: #greeting"></div><br />
        	<br />
        	to reset your password, please click the link below:</p>
        	<a th:href="@{${lostpasswordlink}}" th:text="@{${lostpasswordlink}}"></a><br />
        	<p>
            	Sincerely
        	</p>
        </div>
    </body>
</html>