<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    	<div id="mail-subject" th:remove="tag">Änderung Password</div>
   		
   		<div id="mail-body">
        	<p>Sehr geehrte(r) <div th:replace="userinfos-de :: #greeting"></div>,<br />
        	<br />
        	um ihr Passwort zurückzusetzen, klicken Sie bitte auf den nachfolgenden Link:</p>
        	<a th:href="@{${lostpasswordlink}}" th:text="@{${lostpasswordlink}}"></a><br />
        	<p>
            	Mit freundlichen Grüßen
        	</p>
        </div>
    </body>
</html>